{
  "hotArea": {
    "edge": "top", /* top right left bottom of primary monitor*/
    "triggerHeight": 2, /* amount of pixels to trigger the menu*/
    "startPercentage": 7, /* only trigger the menu on some part of the screen edge start default=0  */
    "endPercentage": 25, /* only trigger the menu on some part of the screen edge end  default=100 */
    "catchMouse": true, /* stop mouse from sliding of the menu, most useful for edge=top to ensure the first menu item is selected */
    "catchHeight": 15 /* amount of pixels to reset the mouse to */
  },
"styling": {
"fontName": "Segoe UI",
"fontSize": 10
},
  "showAppMenu": true, /* Shows a second menu with running applications next to the desktop menu (no gap) */
  "menuItems": [
    {
      "label": "Latest Desktop", /* shows the desktop you were last on (befor the current)*/
      "type": "switch before",
      "parameter": "",
      "icon": "preferences-desktop-wallpaper-2.ico"
    },
    {
      "label": "DESKTOP LIST", /* shows a list of all desktops to switch to */
      "type": "switch to",
      "parameter": "%id%"
    },
    {
      "label": "Next Desktop", /* switches to the next desktop with rollover from last to first */
      "type": "switch right",
      "parameter": "",
      "icon": "go-next-7.ico"
    },
    {
      "label": "Prev Desktop", /* switches to the previous desktop with rollover from first to last */
      "type": "switch left",
      "parameter": "",
      "icon": "go-previous-7.ico"
    },
    {
      "label": "Desktop",
      "type": "shortcut",
      "parameter": "ModifiedKeyStroke(LWIN, VK_D)",
      "icon": "preferences-desktop-wallpaper-5.ico"
    },
    {
      "label": "PrintScreen",
      "type": "run",
      "parameter": "sharex -workflow \"Capture region\"",
      "icon": "image-x-generic.ico"
    },
    {
      "label": "PrintScreen Edit",
      "type": "run",
      "parameter": "sharex -workflow aufnahme",
      "icon": "kpaint.ico"
    },
    {
      "label": "More",
      "type": "shortcut",
      "parameter": "ModifiedKeyStroke(LCONTROL LMENU, VK_N)", /* ModifiedKeyStroke(LWIN LSHIFT, VK_T) First space separated list of Modifiers KOMMA list of Keys Keynames matches https://github.com/GregsStack/InputSimulatorStandard */
      /*Caution: LALT is called LMENU in this library*/
      "icon": "gdm.ico"
    },
    {
      "label": "Win+Tab",
      "type": "shortcut",
      "parameter": "ModifiedKeyStroke(LWIN, TAB)",
      "icon": "kllckety.ico"
    },
    {
      "label": "Win+H",
      "type": "shortcut",
      "parameter": "ModifiedKeyStroke(LWIN, VK_H)",
      "icon": "audio-input-microphone-4.ico"
    },
    {
      "label": "C+S+F",
      "type": "shortcut",
      "parameter": "ModifiedKeyStroke(LSHIFT LCONTROL, VK_F)",
      "icon": "zoom-2.ico"
    },
    {
      "label": "C+A+F find all",
      "type": "shortcut",
      "parameter": "ModifiedKeyStroke(LMENU LCONTROL, VK_F)",
      "icon": "kfind.ico"
    },
    {
      "label": "OCR W+S+O",
      "type": "shortcut",
      "parameter": "ModifiedKeyStroke(LWIN LSHIFT, VK_O)",
      "icon": "character-set.ico"
    },
    {
      "label": "F3",
      "type": "shortcut",
      "parameter": "KeyPress(F3)",
      "icon": "preferences-desktop-keyboard-shortcuts.ico"
    },
    {
      "label": "F9",
      "type": "shortcut",
      "parameter": "KeyPress(F9)",
      "icon": "preferences-desktop-keyboard-shortcuts.ico"
    },
    {
      "label": "exit",
      "type": "exit",
      "parameter": ""
    }
  ]
}